**RESULTS**

In [ ]:
%load_ext sql

In [ ]:
%store -r conn_string

In [26]:
# print(conn_string)
%sql $conn_string

Records for the songs staging table

In [19]:
%sql SELECT * FROM staging_songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.caddgf9yrj3a.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1, &#39;AR5KOSW1187FB35FF4&#39;, 49.80388, 15.47491, &#39;Dubai UAE&#39;, &#39;Elena&#39;, &#39;SOZCTXZ12AB0182364&#39;, &#39;Setanta matins&#39;, 269.58322, 0),
 (1, &#39;AR7RUDQ1187B98C147&#39;, None, None, &#39;&#39;, &#39;Alabama Thunderpussy&#39;, &#39;SOBKPPQ12A58A78407&#39;, &#39;Hunting By Echo&#39;, 274.49424, 2001),
 (1, &#39;AR3GZLR1187FB3D817&#39;, None, None, &#39;&#39;, &#39;Biffy Clyro&#39;, &#39;SOQEYZY12A58A77AF2&#39;, &#39;Folding Stars&#39;, 255.16363, 2007),
 (1, &#39;ARMTTNS1187FB39C92&#39;, None, None, &#39;&#39;, &#39;Saratoga&#39;, &#39;SOQPIFV12AB017C713&#39;, &#39;Semillas de odio&#39;, 573.04771, 0),
 (1, &#39;ARSRAKS11F4C83FDB5&#39;, None, None, &#39;&#39;, &#39;Santa Claws and the Naughty But Nice Orchestra&#39;, &#39;SOFZCOT12A8C1403F4&#39;, &#39;Master of Puppets&#39;, 311.82322, 2007)]

Records for the event log staging table

In [20]:
%sql SELECT * FROM staging_events_log LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.caddgf9yrj3a.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(&#39;A Fine Frenzy&#39;, &#39;Logged In&#39;, &#39;Anabelle&#39;, &#39;F&#39;, 0, &#39;Simpson&#39;, 267.91138, &#39;free&#39;, &#39;Philadelphia-Camden-Wilmington, PA-NJ-DE-MD&#39;, &#39;PUT&#39;, &#39;NextSong&#39;, 1541044398796.0, 256, &#39;Almost Lover (Album Version)&#39;, 200, datetime.datetime(2018, 11, 5, 0, 33, 12, 796000), &#39;&quot;Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36&quot;&#39;, 69),
 (&#39;Nirvana&#39;, &#39;Logged In&#39;, &#39;Aleena&#39;, &#39;F&#39;, 0, &#39;Kirby&#39;, 214.77832, &#39;paid&#39;, &#39;Waterloo-Cedar Falls, IA&#39;, &#39;PUT&#39;, &#39;NextSong&#39;, 1541022995796.0, 237, &#39;Serve The Servants&#39;, 200, datetime.datetime(2018, 11, 5, 1, 27, 22, 796000), &#39;Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0&#39;, 44),
 (&#39;Television&#39;, &#39;Logged In&#39;, &#39;Aleena&#39;, &#39;F&#39;, 1, &#39;Kirby&#39;, 238.49751, &#39;paid&#39;, &#39;Waterloo-Cedar Falls, IA&#39;, &#39;PUT&#39;, &#39;NextSong&#39;, 1541022995796.0, 237, &#39;See No Evil  (Remastered LP Version)&#39;, 200, datetime.datetime(2018, 11, 5, 1, 30, 56, 796000), &#39;Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0&#39;, 44),
 (&#39;JOHN COLTRANE&#39;, &#39;Logged In&#39;, &#39;Aleena&#39;, &#39;F&#39;, 2, &#39;Kirby&#39;, 346.43546, &#39;paid&#39;, &#39;Waterloo-Cedar Falls, IA&#39;, &#39;PUT&#39;, &#39;NextSong&#39;, 1541022995796.0, 237, &#39;Blues To Bechet (LP Version)&#39;, 200, datetime.datetime(2018, 11, 5, 1, 34, 54, 796000), &#39;Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0&#39;, 44),
 (&#39;NOFX&#39;, &#39;Logged In&#39;, &#39;Aleena&#39;, &#39;F&#39;, 3, &#39;Kirby&#39;, 80.79628, &#39;paid&#39;, &#39;Waterloo-Cedar Falls, IA&#39;, &#39;PUT&#39;, &#39;NextSong&#39;, 1541022995796.0, 237, &quot;It&#39;s My Job To Keep Punk Rock Elite&quot;, 200, datetime.datetime(2018, 11, 5, 1, 40, 40, 796000), &#39;Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0&#39;, 44)]

Records from the song, artist, user and time dimension table

In [21]:
%sql SELECT * FROM song_table LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.caddgf9yrj3a.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(&#39;SOIOQNE12A58A7CBB7&#39;, &#39;Sabbath Bloody Sabbath&#39;, &#39;ARGCVZG1187B9B916F&#39;, 2010, 250.67057),
 (&#39;SOTUCYK12A8C13D64E&#39;, &#39;Ragga Airlines&#39;, &#39;ARLFHAF1187B993553&#39;, 0, 74.00444),
 (&#39;SOBJFQT12A6D4F6F0C&#39;, &#39;Time For The Rest Of Your Life&#39;, &#39;AROHDMU1187FB3FCD7&#39;, 1994, 286.48444),
 (&#39;SOKJTYP12A8C136FB0&#39;, &#39;Roadhouse Blues&#39;, &#39;ARFVQTB1187B99CCBD&#39;, 0, 167.1571),
 (&#39;SOTTMXT12AF72A1B42&#39;, &#39;The Gary Selchie - Solas&#39;, &#39;ARAH4TU1187FB51D28&#39;, 0, 132.67546)]

In [22]:
%sql SELECT * FROM artist_table LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.caddgf9yrj3a.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(&#39;ARGCVZG1187B9B916F&#39;, &#39;Hayseed Dixie&#39;, &#39;&#39;, None, None),
 (&#39;ARLFHAF1187B993553&#39;, &#39;Da Weasel&#39;, &#39;&#39;, None, None),
 (&#39;AROHDMU1187FB3FCD7&#39;, &#39;Strangelove&#39;, &#39;&#39;, None, None),
 (&#39;ARFVQTB1187B99CCBD&#39;, &#39;Corvos&#39;, &#39;&#39;, None, None),
 (&#39;ARAH4TU1187FB51D28&#39;, &#39;Bill Laswell&#39;, &#39;New York City (Salem, IL - originally)&#39;, 38.62666, -88.94561)]

In [23]:
%sql SELECT * FROM user_table LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.caddgf9yrj3a.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(44, &#39;Aleena&#39;, &#39;Kirby&#39;, &#39;F&#39;, &#39;paid&#39;),
 (44, &#39;Aleena&#39;, &#39;Kirby&#39;, &#39;F&#39;, &#39;paid&#39;),
 (44, &#39;Aleena&#39;, &#39;Kirby&#39;, &#39;F&#39;, &#39;paid&#39;),
 (52, &#39;Theodore&#39;, &#39;Smith&#39;, &#39;M&#39;, &#39;free&#39;),
 (43, &#39;Jahiem&#39;, &#39;Miles&#39;, &#39;M&#39;, &#39;free&#39;)]

In [24]:
%sql SELECT * FROM time_table LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.caddgf9yrj3a.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 5, 1, 34, 54, 796000), 1, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 2, 1, 51, 796000), 2, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 2, 38, 1, 796000), 2, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 4, 36, 38, 796000), 4, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 5, 51, 57, 796000), 5, 5, 45, 11, 2018, 1)]

Records from the songsplay fact table

In [25]:
%sql SELECT * FROM songplay_table LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.caddgf9yrj3a.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(0, &#39;2018-11-13 17:28:33.796&#39;, 97, &#39;paid&#39;, &#39;SOIBHYW12AB0188F49&#39;, &#39;ARWNARC122BCFCAFEB&#39;, 537, &#39;Lansing-East Lansing, MI&#39;, &#39;&quot;Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36&quot;&#39;),
 (64, &#39;2018-11-19 06:30:08.796&#39;, 80, &#39;paid&#39;, &#39;SOYDHXP12AB01849D4&#39;, &#39;AR73S4G1187B9A03C2&#39;, 666, &#39;Portland-South Portland, ME&#39;, &#39;&quot;Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36&quot;&#39;),
 (128, &#39;2018-11-30 17:25:36.796&#39;, 49, &#39;paid&#39;, &#39;SOHTKMO12AB01843B0&#39;, &#39;AR5EYTL1187B98EDA0&#39;, 1114, &#39;San Francisco-Oakland-Hayward, CA&#39;, &#39;Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0&#39;),
 (192, &#39;2018-11-07 00:43:00.796&#39;, 97, &#39;paid&#39;, &#39;SOHTKMO12AB01843B0&#39;, &#39;AR5EYTL1187B98EDA0&#39;, 293, &#39;Lansing-East Lansing, MI&#39;, &#39;&quot;Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36&quot;&#39;),
 (256, &#39;2018-11-29 16:58:01.796&#39;, 49, &#39;paid&#39;, &#39;SOGXSWA12A6D4FBC99&#39;, &#39;ARPFHN61187FB575F6&#39;, 1041, &#39;San Francisco-Oakland-Hayward, CA&#39;, &#39;Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0&#39;)]